# Ignore node_modules directory
node_modules/
dist/

# Ignore log files
*.log

# Ignore Git metadata
.git
.gitignore

# Ignore npm debug logs
npm-debug.log
yarn-debug.log

# Ignore any other unnecessary files
.DS_Store
*.md